body {
    margin: 0;
    background-color: #4b5563;
}
p {
    margin: 0;
}
.container {
    min-height: 100vh;
    width: 560px;
    background-color: #111827;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
label {
    color: #e5e7eb;
    font-size: 14pt;
    margin-bottom: 5px;
}
a.back {
    margin-top: 20px;
    text-decoration: none;
    color: #e5e7eb;
}
.card {
    background-color: #eaeaea;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.form-control {
    border: 3px solid #23304d;
    outline: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 12pt;
    background-color: #23304d;
    color: white;
}
.form-control:focus {
    border-color: #143180;
}
.text-center {
    text-align: center;
}
.text-danger {
    color: red;
}
.text-white {
    color: #fff;
}
.text-success {
    color: #16a34a;
}
.block {
    display: block;
}
.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.border-0 {
    border: none;
}
.outline-0 {
    outline: none;
}
.btn {
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
}
.btn-danger {
    background-color: red;
    color: #fff;
}
.btn-primary {
    background: #1d4ed8;
}
.btn-light {
    background-color: #eaeaea;
    color: #000;
}
